.header-image {
  display: flex;
  border: solid 5px black;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.header-image-container {
  width:300px
}

.nav-list { 
  display: flex; 
  justify-content: flex-end; 
  gap: 15px;  
}

.nav-list a{
  padding:10px;
  text-decoration:none;
  font-weight: bold;
  color: black; 
  
}

.nav-list a:hover {
  background-color: black; 
  color: yellow; 
  padding: 15px;
}

.nav-list a:active {
  background-color: black; 
  color: yellow; 
  padding: 10px;
  justify-self: center;
  align-self: center;
}

