.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}

.white-container.end,
.gray-container.end {
  grid-column: 2/5;
}

.white-container.end {
  grid-row: 1/2;
}

.gray-container.end {
  grid-row: 3/4;
}

.service {
  grid-row: 2/3;
  grid-column: 1/3;
}

.center-flex {
  display: flex;
  justify-content: center;
}

/* Changed media query to adjust for up to tablet. Added responsive widths to both containers
Removed flex flow and opted for flex-direction purely. */

@media (max-width: 1024px) {
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 15px;
    gap: 15px;
  }

  .grid .gray-container,
  .grid .white-container {
    width: 100%;
  }

  .grid .white-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .grid .gray-container {
    display: flex;
    flex-direction: column;
  }

  p {
    display: inline-block;
  }
  .center-flex {
    display: block;
  }
}
